@{
    Bundles.Reference("Scripts");
    Bundles.Reference("Styles");
    Bundles.Reference("Content/Lib/Unsemantic/assets/stylesheets/unsemantic-grid-responsive.css");
    Bundles.Reference("Content/Lib/Unsemantic/assets/javascripts");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>@ViewBag.Title</title>
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/Content/Lib/Unsematic/assets/javascripts/html5.js")"></script>
    <![endif]-->
    <!--[if (gt IE 8) | (IEMobile)]><!-->
    <!--<![endif]-->
    <!--[if (lt IE 9) & (!IEMobile)]>
        <link href="@Url.Content("~/Content/Lib/Unsematic/assets/stylesheets/ie.css")" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    @Bundles.RenderStylesheets()
</head>
<body>  
    <header class="grid-container">
        <div class="grid-30">
            <img src="@Url.Content("~/Content/Images/logo.png")" width="120" height="120" />
        </div>

        <nav class="grid-50">
            <ul class="menu">
                <li>@Html.ActionLink("Nyheder", "Index", "News")</li>
                <li>@Html.ActionLink("Aktiviter", "Index", "Activities")</li>
                <li>@Html.ActionLink("Køresedler", "Index", "DrivingPaper")</li>
            </ul>
        </nav>

        <nav class="grid-20">
            <ul class="menu">
                <li>@Html.ActionLink("Om", "About", "StaticPage")</li>
                <li>@Html.ActionLink("Kontakt", "Index", "Contact")</li>
                <li>@Html.Partial("_LogOnPartial")</li>
            </ul>
        </nav>
    </header>

    <footer class="grid-container">
        <hr /><br />
    </div>

    <section class="body grid-container">
        <div class="grid-100">
            @RenderBody()
        </div>
    </section>    

    <footer class="grid-container">
        <hr /><br />
    </div>

    <footer class="grid-container">
        <div class="grid-100">
            &copy; @DateTime.Now.Year Hjemmeværnskompagni Ørbæk, Hulvejen 1, 5853 Ørbæk
        </div>
    </footer>

    @Bundles.RenderScripts()
</body>
</html>
